{{ partial "header.html" . }}

<h2>Constellation Architecture</h2>

<br>

<section id="architecture">
  <div class="zoom-container">
    <img src="architecture.png" alt="Architecture Diagram" class="zoomable-image">
  </div>
</section>

<!-- Modal for clicking on the image -->
<div id="image-modal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="modal-image">
</div>

<h2>Characteristics</h2>

<br>

<section id="table-responsive">
  <table>
    <tr>
      <th></th>
      <th>Characteristics</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>C<sub>1</sub></td>
      <td>System under study</td>
      <td>A Styrofoam box containing a lid, a heating element, and fan, controlled by a Raspberry Pi, for incubating tempeh.</td>
    </tr>
    <tr>
      <td>C<sub>2</sub></td>
      <td>Physical acting components</td>
      <td>Heating element and fan.</td>
    </tr>
    <tr>
      <td>C<sub>3</sub></td>
      <td>Physical sensing components</td>
      <td>3 temperature sensors (2 inside and 1 outside).</td>
    </tr>
    <tr>
      <td>C<sub>4</sub></td>
      <td>Physical-to-virtual interaction</td>
      <td>The controller in the PT sends sensor and actuator data on a periodic basis over RabbitMQ</td>
    </tr>
    <tr>
      <td>C<sub>5</sub></td>
      <td>Virtual-to-physical interaction</td>
      <td>The DT sends new parameters of the controller, or desired temperature, to the controller in the PT.</td>
    </tr>
    <tr>
      <td>C<sub>6</sub></td>
      <td>DT services</td>
      <td>Heater state estimation, real-time (and historical) visualization, anomaly detection, what-if simulations, reconfiguration according to state of the lid, controller parameters optimization.</td>
    </tr>
    <tr>
      <td>C<sub>7</sub></td>
      <td>Twinning time-scale</td>
      <td>The DT-to-PT synchronization occurs every time the PT sends a message to the DT (on a periodic basis).</td>
    </tr>
    <tr>
      <td>C<sub>8</sub></td>
      <td>Multiplicities</td>
      <td>The current implementation has no multiplicities, however, it is possible to deploy multiple DTs for the same PT as proposed in 31.</td>
    </tr>
    <tr>
      <td>C<sub>9</sub></td>
      <td>Life-cycle stages</td>
      <td>The DT supports the design and the service phases. In the service phase, it supports creating, executing, saving, analyzing, evolving, and terminating.</td>
    </tr>
    <tr>
      <td>C<sub>10</sub></td>
      <td>DT models and data</td>
      <td>There are plant models (2-parameter and 4-parameter ordinary different equations, and artificial neural network models for plant and state estimator), controller models (state machine), environment models (room temperature prediction), CAD models for 3D visualization, and various couplings between the plant, controller, and environment, models. The data of interest are related to temperature, actuation (on/off state of the actuators), and state of the controller.</td>
    </tr>
    <tr>
      <td>C<sub>11</sub></td>
      <td>Tooling and enablers</td>
      <td>RabbitMQ for communication, InfluxDB for storing timeseries data, Docker for containerization, HOCON for storing configuration files, Godot for 3D visualization, and various Python libraries (e.g., python-control, SciPy).</td>
    </tr>
    <tr>
      <td>C<sub>12</sub></td>
      <td>DT constellation</td>
      <td>The orchestration of the system-as-a-whole is carried out by micro-services. These microservices set up the multiple components from configuration files, including the models and data, tools and enablers, services, and physical-to-virtual and virtual-to-physical interaction. It is possible to leave aside some of the micro-services when initializing the DT for testing purposes.</td>
    </tr>
    <tr>
      <td>C<sub>13</sub></td>
      <td>Twinning process and DT evolution</td>
      <td>The DT was engineered based on a joint engineering approach. For the evolution, 10 milestones have been defined: identifying the physics for the PT, building the plant models with, characterizing the heating power, building the first physical prototype, experimentally refining the parameters for the plant model, creating the controller model, the deploying the controller code into the physical controller, deploying the visualization service, providing services for state estimation and anomaly detection, and providing the service for optimizing the control policy.</td>
    </tr>
    <tr>
      <td>C<sub>14</sub></td>
      <td>Fidelity and validity considerations</td>
      <td>The models have been calibrated against experimental data and the predictive accuracy of the best model is within 2°C. The models have been validated in a controlled environment.</td>
    </tr>
    <tr>
      <td>C<sub>15</sub></td>
      <td>DT technical connection</td>
      <td>The PT-to-DT connection is done over Wi-Fi on a laptop using RabbitMQ.</td>
    </tr>
    <tr>
      <td>C<sub>16</sub></td>
      <td>DT hosting/deployment</td>
      <td>The Incubator DT is deployed locally on a LAN.</td>
    </tr>
    <tr>
      <td>C<sub>17</sub></td>
      <td>Insights and decision making</td>
      <td>The DT can provide visualization of the current state and historical data, what-if analysis for future behavior under different controller configurations, and control policy updates to the PT.</td>
    </tr>
    <tr>
      <td>C<sub>18</sub></td>
      <td>Horizontal integration</td>
      <td>There is horizontal integration with the micro-services of the Incubator DT. The DT is able to exchange information with other information systems over RabbitMQ.</td>
    </tr>
    <tr>
      <td>C<sub>19</sub></td>
      <td>Data ownership and privacy</td>
      <td>Datasets have been provided online to the public. No privacy-related data are stored.</td>
    </tr>
    <tr>
      <td>C<sub>20</sub></td>
      <td>Standardization</td>
      <td>Communication is carried out using AMQP standard via RabbitMQ. Behavioral models have been produced following the FMI standard version 2.</td>
    </tr>
    <tr>
      <td>C<sub>21</sub></td>
      <td>Security and safety considerations</td>
      <td>Communication can be TLS encripted through the RabbitMQ broker. The physical controller counts with a safety consideration that turns off system if the temperature read is above 60°C or if the network connection is unstable.</td>
    </tr>
  </table>
</section>

<h2>DT Live Embed</h2>

<p>Coming soon...</p>

<section id="content">
  <ul class="posts_listing">
    {{ range .Site.RegularPages }}
      <li>
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <div class="date">
          {{if not .Date.IsZero }}
            {{ .Date.Format (.Site.Params.dateform | default "January 2006") }}
          {{end}}
        </div>
      </li>
    {{ end }}
  </ul>
</section>

{{ partial "footer.html" . }}

