<style>
  * {
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    color: black;
    text-decoration-skip: ink;
  }

  body {
    font-family: 'Roboto', 'Myriad Pro', Myriad, sans-serif;
    font-size: 17px;
    line-height: 160%;
    color: #1d1313;
    max-width: 90%;
    margin: 0 auto;
  }

  p {
    margin: 20px 0;
  }

  a img {
    border: none;
  }

  img {
    margin: 10px auto 10px auto;
    max-width: 100%;
    display: block;
  }

  .left-justify {
    float: left;
  }

  .right-justify {
    float: right;
  }

  pre,
  code {
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background-color: #f7f7f7;
  }

  code {
    font-size: 12px;
    padding: 4px;
  }

  pre {
    margin-top: 0;
    margin-bottom: 16px;
    word-wrap: normal;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
  }

  pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
  }

  pre code {
    display: inline;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
  }

  pre code::before,
  pre code::after {
    content: normal;
  }

  em,
  q,
  em,
  dfn {
    font-style: italic;
  }

  .sans,
  html .gist .gist-file .gist-meta {
    font-family: "Open Sans", "Myriad Pro", Myriad, sans-serif;
  }

  .mono,
  pre,
  code,
  tt,
  p code,
  li code {
    font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  }

  .heading,
  .serif,
  h1,
  h2,
  h3 {
    font-family: "Old Standard TT", serif;
  }

  strong {
    font-weight: 600;
  }

  q:before {
    content: "\201C";
  }

  q:after {
    content: "\201D";
  }

  del,
  s {
    text-decoration: line-through;
  }

  blockquote {
    font-family: "Old Standard TT", serif;
    text-align: center;
    padding: 50px;
  }

  blockquote p {
    display: inline-block;
    font-style: italic;
  }

  blockquote:before,
  blockquote:after {
    font-family: "Old Standard TT", serif;
    content: '\201C';
    font-size: 35px;
    color: #403c3b;
  }

  blockquote:after {
    content: '\201D';
  }

  hr {
    width: 40%;
    height: 1px;
    background: #403c3b;
    margin: 25px auto;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
    margin-top: 18px;
  }

  h1 a,
  h2 a,
  h3 a {
    text-decoration: none;
  }

  h1,
  h2 {
    margin-top: 28px;
  }

  #sub-header,
  .date {
    color: #403c3b;
    font-size: 13px;
  }

  #sub-header {
    margin: 0 4px;
  }

  #nav h1 a {
    font-size: 35px;
    color: #1d1313;
    line-height: 120%;
  }

  .posts_listing a,
  #nav a {
    text-decoration: none;
  }

  li {
    margin-left: 20px;
  }

  ul li {
    margin-left: 5px;
  }

  ul li {
    list-style-type: none;
  }

  ul li:before {
    content: "\00BB \0020";
  }

  #nav ul li:before,
  .posts_listing li:before {
    content: '';
    margin-right: 0;
  }

  #content {
    text-align: left;
    width: 100%;
    font-size: 15px;
    padding: 60px 0 80px;
  }

  #content h1,
  #content h2 {
    margin-bottom: 5px;
  }

  #content h2 {
    font-size: 25px;
  }

  #content .entry-content {
    margin-top: 15px;
  }

  #content .date {
    margin-left: 3px;
  }

  #content h1 {
    font-size: 30px;
  }

  .highlight {
    margin: 10px 0;
  }

  .posts_listing {
    margin: 0 0 50px;
  }

  .posts_listing li {
    margin: 0 0 25px 15px;
  }

  .posts_listing li a:hover,
  #nav a:hover {
    text-decoration: underline;
  }

  #nav {
    text-align: center;
    position: static;
    margin-top: 60px;
  }

  #nav ul {
    display: table;
    margin: 8px auto 0 auto;
  }

  #nav li {
    list-style-type: none;
    display: table-cell;
    font-size: 15px;
    padding: 0 20px;
  }

  #links {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;
  }

  #links :nth-child(1) {
    margin-right: 0.5em;
    ;
  }

  #links :nth-child(2) {
    margin-left: 0.5em;
    ;
  }

  #not-found {
    text-align: center;
  }

  #not-found a {
    font-family: "Old Standard TT", serif;
    font-size: 200px;
    text-decoration: none;
    display: inline-block;
    padding-top: 225px;
  }

  @media (max-width: 750px) {
    body {
      padding-left: 20px;
      padding-right: 20px;
    }

    #nav h1 a {
      font-size: 28px;
    }

    #nav li {
      font-size: 13px;
      padding: 0 15px;
    }

    #content {
      margin-top: 0;
      padding-top: 50px;
      font-size: 14px;
    }

    #content h1 {
      font-size: 25px;
    }

    #content h2 {
      font-size: 22px;
    }

    .posts_listing li div {
      font-size: 12px;
    }
  }

  @media (max-width: 400px) {
    body {
      padding-left: 20px;
      padding-right: 20px;
    }

    #nav h1 a {
      font-size: 22px;
    }

    #nav li {
      font-size: 12px;
      padding: 0 10px;
    }

    #content {
      margin-top: 0;
      padding-top: 20px;
      font-size: 12px;
    }

    #content h1 {
      font-size: 20px;
    }

    #content h2 {
      font-size: 18px;
    }

    .posts_listing li div {
      font-size: 12px;
    }
  }

  @media (prefers-color-scheme: dark) {

    *,
    #nav h1 a {
      color: #FDFDFD;
    }

    body {
      background: #121212;
    }

    pre,
    code {
      background-color: #262626;
    }

    #sub-header,
    .date {
      color: #BABABA;
    }

    hr {
      background: #EBEBEB;
    }
  }

  /* Zoom container styling */
  .zoom-container {
    position: relative;
    overflow: visible;
    /* Allow overflow */
    width: 100%;
    /* Take the full width of the viewport */
    max-width: 100vw;
    /* Ensure it doesn't exceed the viewport width */
    margin: 0;
    /* Remove auto centering */
    cursor: zoom-in;
  }

  .zoomable-image {
    width: 100%;
    display: block;
    transition: transform 0.1s ease-out;
  }

  /* Modal styling */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    max-width: 90%;
    max-height: 90%;
    transition: transform 0.3s ease-in-out;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }

  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  }

  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    table-layout: auto;
    empty-cells: show;
  }

  th,
  td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    empty-cells: show;
  }

  table td:first-child,
  table th:first-child {
    width: 5%;
  }

  table td:nth-child(2),
  table th:nth-child(2) {
    width: 20%;
  }

  table td:nth-child(3),
  table th:nth-child(3) {
    width: auto;
  }
</style>